<div class="MyContainer" *ngIf="GrocerList !=null || this.id ==0">
  <div class="ItemContainer" *ngFor="let item of GrocerList">
    <div class="itemBox">
      <div class="ItemName">{{item.name}}
        <span class="quantity">Quantity <input class="MyInput" type="number" #quantity></span>
      </div>
    </div>
  </div>
</div>

<div class="MyContainer" *ngIf="GroceryListByCookID !=null && this.id !=0">
  <div class="ItemContainer" *ngFor="let data of GroceryListByCookID.groceryList">
    <div class="itemBox">
      <div class="ItemName">{{data.name}}
        <!-- <span class="quantity"><button class="MyButton"
            (click)="OnButtonClick(data.name,data.Quantity)">Add</button></span> -->
        <span class="quantity">Quantity <input class="MyInput" type="number" [(ngModel)]="data.Quantity"></span>
      </div>
    </div>
  </div>
</div>
    <div class="FooterBtn">
      <button class="MyButton"
      (click)="OnButtonClick()">Add</button>
    </div>
