.MyContainer{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  /* border: 2px solid white; */
  /* background-color: lightskyblue; */
  justify-content: center;
}

.ItemContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 32em;
  flex-wrap: wrap;
  border-radius: 6px;
  margin: -5px;
}

.ItemContainer:hover{
  background-color: #6e8884c7;
}

.itemBox{
  background-color: #232623c2;
  margin: 10px;
  border-radius: 10px;
}

.ItemName{
  position: relative;
  margin: 12px;
  padding: 10px;
}

.quantity{
  float: right;
  margin: 0px 7px;
}

.ButtonFooter{
  padding: 0px 10px;
  position: relative;
  margin-bottom: 10px;
}

.MyInput{
  width: 55px;
  border-radius: 5px;
  background-color: #e4e8ffb3;
}


.MyButton{
  border-radius: 5px;
  background-color: #d1c8a3;
  font-family: revert;
  font-weight: 700;
  box-shadow: 4px 8px 2px 0px #413e3e8f;
}
